[build]
  command = "npm install"
  functions = "netlify/functions/"
  publish = "." # The folder with your index.html

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200